<%= simple_form_for @superpower do |f| %>
   <h3>Add a superpower for rent</h3>

   <% if @superpower.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @superpower.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name, label: "What is the name of the superpower?" %>
  <%= f.input :description, label: "Make your superpower stand out with a description", :as => :text, :input_html => {:rows => 3} %>
  <%= f.association :superpower_category, label: "Which category best describes the superpower?" %>
  <%= f.input :price, label: "How much are you charging for your superpower in EUR?" %>
  <%= f.input :image, label: "Pick a main image for the superpower" %>
  <%= f.input :image_cache, as: :hidden %>
  <%= f.submit 'Create superpower', id: 'booking-btn' %>
<% end %>
