
<div class="banner-container">
  <div class="banner-image">
    <div class="banner-text">
      <h1>Superpower app banner</h1>
    </div>
  </div>
</div>

<div class="container">


<div class="search-container">
  <%= form_tag(superpowers_path, method: :get) do %>
    <%= text_field_tag(:query, params[:query], placeholder: "Find a superpower", class: "search-input") %>
    <%= submit_tag ("Search"), class: "btn btn-primary", id: "search-btn" %>
  <% end %>
</div>

  <% if @superpowers.present? %>
    <div class="card-grid">
      <% @superpowers.each do |superpower| %>
        <%= link_to superpower_path(superpower), class: "card-link" do %>
          <%= render "superpowers/partials/card", :superpower => superpower%>
      <% end %>
    <% end %>

    </div>


  <% else %>
    <p>No Superpowers in the DB</p>


  <% end %>
</div>




