
<div class="banner-container">
  <div class="banner-image">
    <div class="banner-text">
      <h1>What's your power<%=", #{current_user.first_name}" if current_user %>?</h1>
    </div>
    <div id="heroes-comp"></div>
  </div>
</div>

<div class="container">


<div class="search-container">
  <%= form_tag(superpowers_path, method: :get) do %>
    <%= text_field_tag(:query, params[:query], placeholder: "Find a superpower", class: "search-input") %>
    <%= submit_tag ("Search"), class: "btn btn-primary", id: "search-btn" %>
  <% end %>
</div>

  <% if @superpowers.present? %>
    <div class="card-grid">
      <% @superpowers.each do |superpower| %>
        <%= link_to superpower_path(superpower), class: "card-link" do %>
          <%= render "superpowers/partials/card", :superpower => superpower%>
      <% end %>
    <% end %>
    </div>
  <% else %>
    <p id="no-superpowers-message">😈 No Superpowers here 😱</p>
  <% end %>
</div>

<div id="index-bg"></div>



