  <div class="container" id="show-content">

  <div class="show-left-container d-flex justify-content-center align-items-center flex-column">

    <div class="show-img-container" style="background-image: url(<%= @superpower.image %>);">
    </div>


    <div class="show-info-container">
      <div class="show-info-header-container">
        <p class="show-info-header-text"><%= @superpower.name %></p>
        <p class="show-info-header-icon"><%= image_tag("categories/#{@superpower.superpower_category.icon}") %></p>
      </div>

      <div class="info-row" id="first-info-row">
        <div class="show-info-icon">
          <img src="/assets/show_info_icons/show_info_icon_name.png">
          <div class="show-info-text-left">Name</div>
        </div>
        <div class="show-info-text-right">
          <%= @superpower.owner.first_name %> <%= @superpower.owner.last_name %>
        </div>
      </div>

      <div class="info-row">
        <div class="show-info-icon">
          <img src="/assets/show_info_icons/show_info_icon_email.png">
          <div class="show-info-text-left">E-mail</div>
        </div>
        <div class="show-info-text-right">
          <%= @superpower.owner.email %>
        </div>
      </div>

      <div class="info-row">
        <div class="show-info-icon">
          <img src="/assets/show_info_icons/show_info_icon_category.png">
          <div class="show-info-text-left">Superpower category</div>
        </div>
        <div class="show-info-text-right">
          <%= @superpower.superpower_category.name %>
        </div>
      </div>

      <div class="info-row">
        <div class="show-info-icon">
          <img src="/assets/show_info_icons/show_info_icon_price.png">
          <div class="show-info-text-left">Price</div>
        </div>
        <div class="show-info-text-right">
          <%= @superpower.price %> DKK a day
        </div>
      </div>
      <div class="show-info-description">
        <p><%= @superpower.description %></p>
      </div>
    </div>

  </div>

  <div class="show-right-container">
    <%= render './bookings/form_new_booking' %>
  </div>

</div>
