<div class="card-container">
  <div class="card-img" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%), url('<%= superpower.image %>')">
     <div class="category-container">
        <%= image_tag("categories/#{superpower.superpower_category.icon}") %>
       <p> <%= superpower.superpower_category.name %>  </p>
    </div>
    <div class="card-price">
      <p> <%= superpower.price %> <span> / DAY</span> </p>
    </div>
  </div>
  <div class="card-text">
    <h3 class="card-text-un"> <%= superpower.name %> </h3>
    </div>
</div>


<!-- <h1 class="test-un">Testing</h1> -->
