  <div class="navbar navbar-lewagon">

    <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "brand_logo.png" %>

    <% end %>

    <div class="right-nav-container">

    <% if user_signed_in? %>

      <%= link_to "Add a super power", new_superpower_path, class: "main-btn", id: "add-a-superpower-btn" %>

      <p class="login-name-text"> <%= current_user.first_name %></p>
      <div class="nav-item dropdown">
        <%= image_tag "login_avatar_placeholder.png", class: 'avatar dropdown-toggle', data: { toggle: 'dropdown' }, 'aria-haspopup': true, 'aria-expanded': false %>

         <div class='dropdown-menu dropdown-menu-right dropleft” aria-labelledby=“navbarDropdown'>
           <%= link_to 'Dashboard', profile_path, class: 'dropdown-item' %>
           <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
         </div>

      </div>

  </div>

<% else %>

      <%= link_to "Log in", new_user_session_path, id: "login-btn" %>

      <%= link_to "Sign up", new_user_registration_path, class: "main-btn" %>

<% end %>

    </div>

  </div>



