<h1>My Dashboard</h1>

<h5>My superpowers</h5>
<ul>
  <% @superpowers.each do |superpower| %>
    <li>
      <%= link_to superpower.name, superpower_path(superpower)  %>
    </li>
  <% end %>
</ul>

<hr>

<h5>My booked superpowers</h5>
<ul>
  <% @bookings.each do |booking| %>
   <li>
      <%= link_to booking.superpower.name, superpower_path(booking.superpower_id)  %>
      From: <%= booking.start_date %>
      To: <%= booking.end_date %>
      Price: <%= booking.price %> DKK
    </li>
  <% end %>
</ul>
